<!DOCTYPE html>
<html lang="en">
<head>
    <title>Music vs Productivity</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
</head>

<body ng-app="app" layout="row" ng-controller="MusicController as vm">

<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')">

    <md-toolbar class="md-whiteframe-z1">
        <h1>Filters</h1>
    </md-toolbar>

    <md-list>
        <md-list-item ng-repeat="item in vm.menu.items">
            <md-button ng-click="vm.getPopularMusic(item.key)" ng-class="{ 'selected' : item === vm.menu.selected }">
                {{ item.name }}
            </md-button>
        </md-list-item>
    </md-list>
</md-sidenav>

<div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

    <md-toolbar layout="row" class="md-whiteframe-z1">
        <md-button class="menu" hide-gt-sm>
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h1>Music vs Productivity</h1>
    </md-toolbar>

    <md-content flex layout="row" id="content">
        <div ng-repeat="item in vm.music" ng-if="item">
            <md-toolbar layout="row" class="md-whiteframe-z1">
                <h1>7 days</h1>
            </md-toolbar>
            <md-list-item class="md-2-line" ng-repeat="track in item">
                <!--<img ng-src="{{track.img}}" class="md-avatar" />-->
                <md-button class="md-list-item-text" ng-click="vm.showDetails(track)">
                    <h3>{{ track.name }}</h3>
                    <h4>Listened: {{ track.scrobbled }} times</h4>
                </md-button>
            </md-list-item>
        </div>
    </md-content>
</div>

<script src="./components/angular/angular.js"></script>
<script src="./components/angular-animate/angular-animate.js"></script>
<script src="./components/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src="./components/angular-material/angular-material.js"></script>

<script src="src/app.js"></script>
<script src="src/music/module.js"></script>
<script src="src/music/MusicService.js"></script>
<script src="src/music/MusicController.js"></script>
<script src="src/music/MusicDetailController.js"></script>

</body>
</html>
