<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="fragments/layout">
<head>
    <title>Productivity stats</title>
</head>
<body>
<div layout:fragment="content" class="mdl-grid demo-content">
    <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-card mdl-shadow--2dp mdl-cell--12-col">
            <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
                <h2 class="mdl-card__title-text">Filter</h2>
            </div>

            <div class="mdl-card__actions mdl-card--border">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--1-offset mdl-cell--middle mdl-typography--text-right">
                        <button id="filter-button-left"
                                class="mdl-button mdl-button--icon mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                                type="submit">
                            <i class="material-icons">arrow</i> &leftarrow;
                        </button>
                    </div>
                    <div class="mdl-cell mdl-cell--3-col">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="date" id="filter-day"/>
                            <label class="mdl-textfield__label" for="filter-day">Day</label>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--middle mdl-typography--text-left">
                        <button id="filter-button-right"
                                class="mdl-button mdl-button--icon mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                                type="submit">
                            <i class="material-icons">arrow</i> &rightarrow;
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-card mdl-shadow--2dp mdl-cell--12-col">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Productivity summary (minutes)</h2>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <div id="activities-multitasking-donut"></div>
            </div>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-card mdl-shadow--2dp mdl-cell--12-col">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">[Productive] Tasks in 15min period vs. Activity time</h2>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <div id="activities-multitasking-scatter-productive"></div>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-card mdl-shadow--2dp mdl-cell--12-col">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">[Distractions] Tasks in 15min period vs. Activity time</h2>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <div id="activities-multitasking-scatter-distraction"></div>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-card mdl-shadow--2dp mdl-cell--12-col">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">[Neutral] Tasks in 15min period vs. Activity time</h2>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <div id="activities-multitasking-scatter-neutral"></div>
            </div>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-card mdl-shadow--2dp mdl-cell--12-col">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Amount of tasks (per hour) and productivity</h2>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <div id="productivity-multitasking-activities"></div>
            </div>
        </div>
    </div>

    <script src="../../static/dashboard/productivity/productivity.service.js"
            th:src="@{dashboard/productivity/productivity.service.js}"></script>
    <script src="../../static/dashboard/productivity/productivity-multitasking-activities.js"
            th:src="@{dashboard/productivity/productivity-multitasking-activities.js}"></script>

</div>
</body>
</html>
