<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="fragments/layout">
<head>
    <title>README - Music vs Productivity</title>
</head>
<body>
<div layout:fragment="content">
    <div class="demo-ribbon"></div>
    <main class="demo-main mdl-layout__content">
        <div class="demo-container mdl-grid">
            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
            <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
                <h3>README</h3>
                <p>
                    Czytelniku, <br/>
                    to jest Proof of Concept aplikacji pisanej w ramach mojej <a
                        href="https://github.com/piotrl/master-thesis">pracy magisterskiej</a>.
                    Ostatnia aktualizacja była dnia: <em>30.05.2017</em>.
                </p>
                <p th:if="${!#authorization.expression('isAuthenticated()')}">
                    Aplikacja jest zabezpieczona, należy się <a href="/signin">zalogować na testowego użytkownika</a> z
                    danymi:
                <ul>
                    <li>username: <strong>test</strong></li>
                    <li>password: <strong>test</strong></li>
                </ul>
                Aplikacja nie ma certyfikatu SSL, przeglądarka może potencjalnie oznaczyć stronę logowania jako "Not
                Secure".
                </p>
                <h3>Dane</h3>
                <p>
                    Użytkownik jest specjalnie przygotowany, ale wsystkie dane są prawdziwe, agregowane co godzinę
                    z moich aktywności.
                </p>
                <p>
                    Mogą być one mało zróżnicowane, ponieważ przez ostatnie pół roku intensywnie pracowałem nad
                    magisterką, który był dla mnie produktywnym okresem niezależnie od słuchanej muzyki.
                </p>
                <p>Dane są dostępne od 31 stycznia 2017 do <em
                        th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy')}"></em>.
                </p>

                <h3>Znane problemy</h3>
                <p>
                    Alikacja posiada pewne niedociągnięcia, które należy poprawić w przyszłości.
                </p>

                <ul>
                    <li><em>Wydajność serwera</em> — Aplikację hostuję na płatnym (i nienajtańszym) serwerze VPS, ale
                        wydajność znacząco odbiega od mojego prywatnego laptopa.
                        Zwłaszcza zapytania SQL sprawiają wrażenie wolnych.
                        Proszę o trochę cierpliwości podczas ładowania się aplikacji.
                    </li>
                    <li><em>User experience filtrowania</em> — Korzystam z najnowszych kontrolek HMTL5 (np. datepicker),
                        które są dostępne tylko w chromie.
                        Na Firefoksie/Safari datę trzeba wpisać ręcznie (lub korzystać z dostarczonych przeze mnie
                        "strzałek").
                    </li>
                </ul>

                <h3>Kontakt</h3>
                <p>
                    Zachęcam do pisania na mail: <a href="mailto:mail@piotrl.net">mail@piotrl.net</a>.<br/>
                    Chętnie porozmawiam i odpowiem na pytania.
                </p>
                <p class="mdl-typography--text-right">
                    Piotr Lewandowski
                </p>

            </div>
        </div>
    </main>
</div>
</body>
</html>
