<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="fragments/layout">
<head>
    <title>README - Music vs Productivity</title>
</head>
<body>
<div layout:fragment="content">
    <div class="demo-ribbon"></div>
    <main class="demo-main mdl-layout__content">
        <div class="demo-container mdl-grid">
            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
            <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
                <h3>README</h3>
                <p>
                    Czytelniku, <br/>
                    to jest Proof of Concept aplikacji pisanej w ramach mojej <a
                        href="https://github.com/piotrl/master-thesis">pracy magisterskiej</a>.
                    Ostatnia aktualizacja była dnia: <em>15.06.2017</em>.
                </p>
                <p th:if="${!#authorization.expression('isAuthenticated()')}">
                    Aplikacja jest zabezpieczona, należy się <a href="/signin">zalogować na testowego użytkownika</a> z
                    danymi:
                <ul>
                    <li>username: <strong>test</strong></li>
                    <li>password: <strong>test</strong></li>
                </ul>
                Aplikacja nie ma certyfikatu SSL, przeglądarka może potencjalnie oznaczyć stronę logowania jako "Not
                Secure".
                </p>
                <p>
                    Mimo nazwy użytkownika <em>test</em> wszystkie dane są prawdziwe, agregowane co godzinę
                    z moich aktywności od 31 stycznia 2017 do
                    <em th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy')}"></em>.
                </p>

                <h3>Wnioski</h3>
                <p>Zgodnie z założeniem pracy, udało się stworzyć koncept aplikacji w pełni działający w segmencie:
                    Pobrania danych, przetworzenia/analizy i wizualizacji.
                </p>
                <p>
                    Konieczne są dalsze eksperymenty w celu wyszukania sensownych wyników.
                    Obecne próby nie dostarczają odpowiedzi na pytanie "Czy muzyka wpływa na naszą produktywność?".
                </p>
                <p>
                    Obecnie system zawiera dane jednego użytkownika, dalszym krokiem mogłoby być zagregowanie danych
                    innych chętnych osób oraz porównanie wyników.
                </p>

                <h3>Znane problemy</h3>
                <p>
                    Alikacja posiada pewne niedociągnięcia, które należy poprawić w przyszłości.
                </p>
                <ul>
                    <li><em>Nieciekawe dane w maju/czerwcu</em> &hyphen; Od maja RescueTime przestał logować dane stron
                    internetowych, więc zdecydowana większość od tego momentu była oznaczona jako "Google Chrome".
                    Przez to wykresy są mało zróżnicowane.
                    </li>
                    <li><em>Wydajność serwera</em> &hyphen; Aplikację hostuję na płatnym serwerze VPS,
                        ale wydajność odbiega od mojego prywatnego laptopa.
                    </li>
                    <li><em>Kompatybilność między przeglądarkami</em> &hyphen; Korzystam z najnowszych kontrolek HMTL5
                        (np. datepicker), które są dostępne tylko w Google Chrome.
                        Na Firefoksie/Safari datę trzeba wpisać ręcznie (lub korzystać z dostarczonych przeze mnie
                        "strzałek").
                    </li>
                    <li><em>Certyfikat SSL</em> &hyphen; Fierfox 52+ wyświetla ostrzeżenie przy logowaniu o
                        niebezpiecznej aplikacji.
                    </li>
                </ul>

                <h3>Kontakt</h3>
                <p>
                    Zachęcam do pisania na mail: <a href="mailto:mail@piotrl.net">mail@piotrl.net</a>.<br/>
                </p>
                <p class="mdl-typography--text-right">
                    Piotr Lewandowski
                </p>

            </div>
        </div>
    </main>
</div>
</body>
</html>
