<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="fragments/layout">
<head>
    <title>Welcome to the Spring MVC Quickstart application! Get started quickly by signing up!</title>
</head>
<body>
<div layout:fragment="content">

    <div class="container">
        <div class="text-center">
            <h1>Music vs Productivity</h1>
            <p class="lead">
                This app allows measure insights of your computer activities and compare it with music you listen to.
            </p>
        </div>
    </div>
</div>
</body>
</html>
