<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="fragments/layout">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
</head>
<body>
<div layout:fragment="content">
    <div class="mdl-grid demo-content">
        <!-- /* Handle the flash message */-->
        <th:block th:if="${message != null}">
            <!-- /* The message code is returned from the @Controller */ -->
            <div th:replace="fragments/components :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">
                &nbsp;</div>
        </th:block>
        <p class="lead text-center">
            Welcome to the Spring MVC Quickstart application!
        </p>
        <div th:replace="fragments/layout :: footer"></div>
    </div>
</div>
</body>
</html>
