<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="fragments/layout">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
</head>
<body>
<div layout:fragment="content">
    <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
                <h4>
                    You have listened <br />
                    14 tracks
                </h4>
                <span th:text="${userName}"></span>
                <span th:text="${activitiesTimeSum}"></span>
                <span th:text="${scrobblesCount}"></span>
            </div>
        </div>
    </div>
</div>
</body>
</html>
