<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="fragments/layout">
<head>
    <title>Settings</title>
</head>
<body>
<div layout:fragment="content" class="mdl-grid demo-content">
    <form class="mdl-grid mdl-cell--12-col"
          action="#"
          method="post"
          th:action="@{/settings}"
          th:object="${settings}">

        <div class="mdl-cell--6-col">
            <h4>Last.fm API keys</h4>
            <div class="mdl-card__supporting-text">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="lastfmUsername" name="lastfmUsername"
                           th:field="*{lastfmUsername}"/>
                    <label class="mdl-textfield__label" for="lastfmUsername">Lastfm username</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="lastfmApiKey" name="lastfmApiKey"
                           th:field="*{lastfmApiKey}"/>
                    <label class="mdl-textfield__label" for="lastfmApiKey">API key</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="lastfmSecureKey" name="lastfmSecureKey"
                           th:field="*{lastfmSecureKey}"/>
                    <label class="mdl-textfield__label" for="lastfmSecureKey">Secure key</label>
                </div>
            </div>
        </div>
        <div class="mdl-cell--6-col">
            <h4>RescueTime API keys</h4>
            <div class="mdl-card__supporting-text">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="rescuetimeApiKey" name="rescuetimeApiKey"
                           th:field="*{rescuetimeApiKey}"/>
                    <label class="mdl-textfield__label" for="rescuetimeApiKey">RescueTime token</label>
                </div>
            </div>
        </div>

        <div class="mdl-card__actions mdl-card--border">
            <button class="mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                    type="submit">Save
            </button>
        </div>
    </form>
</div>
</body>
</html>
